/web/bundles/
/web/assetic/
/web/fonts/
/web/images/
!web/dee/.gitkeep
/web/dee/
/web/export/
!web/export/.gitkeep

/app/config/parameters.yml
/app/phpunit.xml

/build/
/vendor/

/bin/*
!bin/console

/composer.phar
/nbproject/
/node_modules/

# Symfony directories
/var/cache/*
!var/cache/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep

/var/bootstrap.php.cache
