# This file is used during build (ginco_build.php)
# to complete values in application.
#
# It must be completed/corrected to locale configuration and renamed localhost.properties
# Usage:
# php build_ginco.php -f localhost.properties -i instance <options>

# Instance name (ex localhost)
instance.name=localhost

# Database configurattion
db.host=localhost
db.port=5432
db.name=database_name
db.user=ogam
db.user.pw=#####
db.adminuser=admin
db.adminuser.pw=#####
db.version=9.6.0

# Target machoine configuration
# La machine sur laquelle déployer cette instance
deploy.host=localhost
# L'utilisateur sur la machine cible exécutant les commandes de déploiement local
deploy.user=XXXXX
# Le mot de passe de l'utilisateur de déploiement
deploy.user.pw=#####
# Inutilisé en local
# deploy.port=22

# Chemins des répertoires contenant les projets ogam et configurateur pendant la phase de build
# absolu ou relatif au répertoire courant (répertoire où est installé le projet ginco)
ogam.path=/path/to/ogam
configurator.path=/path/to/configurator

# Nom du lien symbolique (ou portion de chemin) entre /var/www/ et
# le répertoire du projet ginco.
# Exemple: si le chemin vers le projet ginco à partir de /var/www est:
# /var/www/path/to/ginco, il faut indiquer: path/to/ginco.
# Sur les instances de prod, c'est instance.name
apache.path.to.app=ginco

# Complete URL of the project
ogam.map.services.url=http://localhost.ogam-ginco.ign.fr
# Part between the protocol and .ign.fr in the url of the project
http.host.name=localhost.ogam-ginco

# Site Name
site.name="Plateforme de test GINCO Localhost"

# INSEE/ISO Code of region
region.code=LOCAL

# Bounding box pour l'initialisation de la visualisation
bb.xmin=-899390
bb.ymin=6742320
bb.xmax=1351350
bb.ymax=4883370
bb.zoom=3

# Geoportal API key
geoportail.key=7gr31kqe5xttprd2g7zbkqgo

# Tracking id Piwik
# 0 to disable piwik tracking for this site
piwik.id=0