{% block flash_messages %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}" role="alert">
                {{ message | raw }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}