<!-- Geoportal Copyrights -->
<div class="modal fade" id="copyrightsIGNModal" tabindex="-1" role="dialog" aria-labelledby="copyrightsIGNModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close'|trans }}"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="copyrightsIGNModalLabel">Copyrights Géoportail</h4>
			</div>
			<div class="modal-body">
				<h3>Pour la couche d'orthophoto :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>IGN</td>
						<td>Institut national de l'information géographique et forestière</td>
						<td><img src="//wxs.ign.fr/static/logos/IGN/IGN.gif" alt="logo" /></td>
						<td><a href="http://www.ign.fr" target="_blank">http://www.ign.fr</a></td>
					</tr>
					<tr>
						<td>CRCORSE</td>
						<td>CRCORSE</td>
						<td><img src="//wxs.ign.fr/static/logos/CRCORSE/CRCORSE.gif"
								 alt="logo" /></td>
						<td><a href="http://www.corse.fr" target="_blank">http://www.corse.fr</a></td>
					</tr>
					<tr>
						<td>e-Megalis</td>
						<td>Syndicat mixte de coopération territoriale (e-Megalis)</td>
						<td><img
									src="//wxs.ign.fr/static/logos/e-Megalis/e-Megalis.gif"
									alt="logo" /></td>
						<td><a href="http://www.e-megalisbretagne.org" target="_blank">http://www.e-megalisbretagne.org</a></td>


					<tr>
					</tr>
					<td>FEDER2</td>
					<td>Fonds européen de développement économique et régional</td>
					<td><img src="//wxs.ign.fr/static/logos/FEDER2/FEDER2.gif"
							 alt="logo" /></td>
					<td><a href="http://www.europe-en-france.gouv.fr/" target="_blank">http://www.europe-en-france.gouv.fr/</a></td>
					</tr>
					<tr>
						<td>CRAIG</td>
						<td>Centre Régional Auvergnat de l'Information Géographique (CRAIG)</td>
						<td><img src="//wxs.ign.fr/static/logos/CRAIG/CRAIG.gif"
								 alt="logo" /></td>
						<td><a href="http://www.craig.fr" target="_blank">http://www.craig.fr</a></td>
					</tr>
					<tr>
						<td>CNES_AUVERGNE</td>
						<td>Centre national d'études spatiales (CNES)</td>
						<td><img
									src="//wxs.ign.fr/static/logos/CNES_AUVERGNE/CNES_AUVERGNE.gif"
									alt="logo" /></td>
						<td><a href="http://www.cnes.fr/" target="_blank">http://www.cnes.fr/</a></td>
					</tr>
					<tr>
						<td>PPIGE</td>
						<td>PPIGE</td>
						<td><img src="//wxs.ign.fr/static/logos/PPIGE/PPIGE.gif"
								 alt="logo" /></td>
						<td><a href="http://www.ppige-npdc.fr/" target="_blank">http://www.ppige-npdc.fr/</a></td>
					</tr>
					<tr>
						<td>SIGLR</td>
						<td>SIGLR</td>
						<td><img src="//wxs.ign.fr/static/logos/SIGLR/SIGLR.gif"
								 alt="logo" /></td>
						<td><a href="http://www.siglr.org" target="_blank">http://www.siglr.org</a></td>
					</tr>
					<tr>
						<td>CG06</td>
						<td>Département Alpes Maritimes (06) en partenariat avec :
							Groupement Orthophoto 06 (NCA, Ville de Cannes, CARF, CASA,CG06, CA
							de Grasse)</td>
						<td><img src="//wxs.ign.fr/static/logos/CG06/CG06.gif"
								 alt="logo" /></td>
						<td><a href="http://www.cg06.fr" target="_blank">http://www.cg06.fr</a></td>
					</tr>
					<tr>
						<td>RGD_SAVOIE</td>
						<td>Régie de Gestion de Données des Pays de Savoie (RGD 73-74)</td>
						<td><img
									src="//wxs.ign.fr/static/logos/RGD_SAVOIE/RGD_SAVOIE.gif"
									alt="logo" /></td>
						<td><a href="http://www.rgd.fr" target="_blank">http://www.rgd.fr</a></td>
					</tr>
					<tr>
						<td>CG45</td>
						<td>Le conseil général du Loiret</td>
						<td><img src="//wxs.ign.fr/static/logos/CG45/CG45.gif"
								 alt="logo" /></td>
						<td><a href="http://www.loiret.com" target="_blank">http://www.loiret.com</a></td>
					</tr>
					<tr>
						<td>CNES_971</td>
						<td>Centre national d'études spatiales (CNES)</td>
						<td><img src="//wxs.ign.fr/static/logos/CNES_971/CNES_971.gif"
								 alt="logo" /></td>
						<td><a href="http://www.cnes.fr/" target="_blank">http://www.cnes.fr/</a></td>
					</tr>
					<tr>
						<td>CNES_972</td>
						<td>Centre national d'études spatiales (CNES)</td>
						<td><img src="//wxs.ign.fr/static/logos/CNES_972/CNES_972.gif"
								 alt="logo" /></td>
						<td><a href="http://www.cnes.fr/" target="_blank">http://www.cnes.fr/</a></td>
					</tr>
					<tr>
						<td>DITTT</td>
						<td>Direction des Infrastructures, de la Topographie et des
							Transports Terrestres</td>
						<td><img src="//wxs.ign.fr/static/logos/DITTT/DITTT.gif"
								 alt="logo" /></td>
						<td><a href="http://www.dittt.gouv.nc/portal/page/portal/dittt/" target="_blank">http://www.dittt.gouv.nc/portal/page/portal/dittt/</a></td>
					</tr>
					<tr>
						<td>CNES_978</td>
						<td>Centre national d'études spatiales (CNES)</td>
						<td><img src="//wxs.ign.fr/static/logos/CNES_978/CNES_978.gif"
								 alt="logo" /></td>
						<td><a href="http://www.cnes.fr/" target="_blank">http://www.cnes.fr/</a></td>
					</tr>
					<tr>
						<td>CNES_ALSACE</td>
						<td>Centre national d'études spatiales (CNES)</td>
						<td><img
									src="//wxs.ign.fr/static/logos/CNES_ALSACE/CNES_ALSACE.gif"
									alt="logo" /></td>
						<td><a href="http://www.cnes.fr/" target="_blank">http://www.cnes.fr/</a></td>
					</tr>
					<tr>
						<td>CNES</td>
						<td>Centre national d'études spatiales (CNES)</td>
						<td><img src="//wxs.ign.fr/static/logos/CNES/CNES.gif"
								 alt="logo" /></td>
						<td><a href="http://www.cnes.fr/" target="_blank">http://www.cnes.fr/</a></td>
					</tr>
					<tr>
						<td>ASTRIUM</td>
						<td>Airbus Defence and Space</td>
						<td><img src="//wxs.ign.fr/static/logos/ASTRIUM/ASTRIUM.gif"
								 alt="logo" /></td>
						<td><a href="http://www.geo-airbusds.com/" target="_blank">http://www.geo-airbusds.com/</a></td>
					</tr>
					<tr>
						<td>CNES_974</td>
						<td>Centre national d'études spatiales (CNES)</td>
						<td><img src="//wxs.ign.fr/static/logos/CNES_974/CNES_974.gif"
								 alt="logo" /></td>
						<td><a href="http://www.cnes.fr/" target="_blank">http://www.cnes.fr/</a></td>
					</tr>
					<tr>
						<td>CNES_975</td>
						<td>Centre national d'études spatiales (CNES)</td>
						<td><img src="//wxs.ign.fr/static/logos/CNES_975/CNES_975.gif"
								 alt="logo" /></td>
						<td><a href="http://www.cnes.fr/" target="_blank">http://www.cnes.fr/</a></td>
					</tr>
					<tr>
						<td>CNES_976</td>
						<td>Centre national d'études spatiales (CNES)</td>
						<td><img src="//wxs.ign.fr/static/logos/CNES_976/CNES_976.gif"
								 alt="logo" /></td>
						<td><a href="http://www.cnes.fr/" target="_blank">http://www.cnes.fr/</a></td>
					</tr>
					<tr>
						<td>CNES_977</td>
						<td>Centre national d'études spatiales (CNES)</td>
						<td><img src="//wxs.ign.fr/static/logos/CNES_977/CNES_977.gif"
								 alt="logo" /></td>
						<td><a href="http://www.cnes.fr/" target="_blank">http://www.cnes.fr/</a></td>
					</tr>
					<tr>
						<td>PLANETOBSERVER</td>
						<td>PlanetObserver (images satellites)</td>
						<td><img
									src="//wxs.ign.fr/static/logos/PLANETOBSERVER/PLANETOBSERVER.gif"
									alt="logo" /></td>
						<td><a href="http://www.planetobserver.com/" target="_blank">http://www.planetobserver.com/</a></td>
					</tr>
					<tr>
						<td>MPM</td>
						<td>Marseille Provence Métropole</td>
						<td><img src="//wxs.ign.fr/static/logos/MPM/MPM.gif" alt="logo" /></td>
						<td><a href="http://www.marseille-provence.com/" target="_blank">http://www.marseille-provence.com/</a></td>
					</tr>
				</table>

				<h3>Pour la couche de plans IGN :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>IGN</td>
						<td>Institut national de l'information géographique et forestière</td>
						<td><img src="//wxs.ign.fr/static/logos/IGN/IGN.gif" alt="logo"></td>
						<td><a href="http://www.ign.fr" target="_blank">http://www.ign.fr</a></td>
					</tr>
					<tr>
						<td>EUROGEOGRAPHICS</td>
						<td>Eurogeographics</td>
						<td><img src="//wxs.ign.fr/static/logos/EUROGEOGRAPHICS/EUROGEOGRAPHICS.gif"
								 alt="logo"></td>
						<td><a href="http://www.eurogeographics.org/" target="_blank">http://www.eurogeographics.org/</a></td>
					</tr>
				</table>

				<h3>Pour la couche Réserves nationales de chasse et de faune sauvage :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>MNHN</td>
						<td>Muséum national d'Histoire naturelle</td>
						<td><img src="//wxs.ign.fr/static/logos/MNHN/MNHN.gif" alt="logo"></td>
						<td><a href="http://inpn.mnhn.fr" target="_blank">http://inpn.mnhn.fr</a></td>
					</tr>
					<tr>
						<td>ONCFS</td>
						<td>Office National de la Chasse et de la Faune Sauvage (ONCFS)</td>
						<td><img
									src="//wxs.ign.fr/static/logos/ONCFS/ONCFS.gif"
									alt="logo"></td>
						<td><a href="http://www.oncfs.gouv.fr/" target="_blank">http://www.oncfs.gouv.fr</a></td>
					</tr>
				</table>

				<h3>Pour la couche Réserves Naturelles de Corse :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>MNHN</td>
						<td>Muséum national d'Histoire naturelle</td>
						<td><img src="//wxs.ign.fr/static/logos/MNHN/MNHN.gif" alt="logo"></td>
						<td><a href="http://inpn.mnhn.fr" target="_blank">http://inpn.mnhn.fr</a></td>
					</tr>
				</table>

				<h3>Pour la couche Réserves de biosphère :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>MNHN</td>
						<td>Muséum national d'Histoire naturelle</td>
						<td><img src="//wxs.ign.fr/static/logos/MNHN/MNHN.gif" alt="logo"></td>
						<td><a href="http://inpn.mnhn.fr" target="_blank">http://inpn.mnhn.fr</a></td>
					</tr>
					<tr>
						<td>MABUNESCO</td>
						<td>UNESCO</td>
						<td><img src="//wxs.ign.fr/static/logos/MABUNESCO/MABUNESCO.gif"
								 alt="logo"></td>
						<td><a href="http://www.unesco.org/new/fr/natural-sciences/environment/ecological-sciences/man-and-biosphere-programme/" target="_blank">http://www.unesco.org/new/fr/natural-sciences/environment/ecological-sciences/man-and-biosphere-programme/</a></td>
					</tr>
				</table>

				<h3>Pour la couche Biotopes d'espèces protégées :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>MNHN</td>
						<td>Muséum national d'Histoire naturelle</td>
						<td><img src="//wxs.ign.fr/static/logos/MNHN/MNHN.gif" alt="logo"></td>
						<td><a href="http://inpn.mnhn.fr" target="_blank">http://inpn.mnhn.fr</a></td>
					</tr>
					<tr>
						<td>MTES</td>
						<td>Ministère de la Transition &eacute;cologique et solidaire</td>
						<td><img src="//wxs.ign.fr/static/logos/MEDDE/MEDDE.gif" alt="logo"></td>
						<td><a href="http://www.ecologique-solidaire.gouv.fr/" target="_blank">http://www.ecologique-solidaire.gouv.fr/</a></td>
					</tr>
				</table>

				<h3>Pour la couche Réserves biologiques :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>MNHN</td>
						<td>Muséum national d'Histoire naturelle</td>
						<td><img src="//wxs.ign.fr/static/logos/MNHN/MNHN.gif" alt="logo"></td>
						<td><a href="http://inpn.mnhn.fr" target="_blank">http://inpn.mnhn.fr</a></td>
					</tr>
					<tr>
						<td>ONF</td>
						<td>Office National des Forêts (ONF)</td>
						<td><img
									src="//wxs.ign.fr/static/logos/ONF/ONF.gif"
									alt="logo"></td>
						<td><a href="http://www.onf.fr" target="_blank">http://www.onf.fr</a></td>
					</tr>
				</table>

				<h3>Pour la couche Parcs naturels marins :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>MNHN</td>
						<td>Muséum national d'Histoire naturelle</td>
						<td><img src="//wxs.ign.fr/static/logos/MNHN/MNHN.gif" alt="logo"></td>
						<td><a href="http://inpn.mnhn.fr" target="_blank">http://inpn.mnhn.fr</a></td>
					</tr>
					<tr>
						<td>AAMP</td>
						<td>Agence des aires marines protégées</td>
						<td><img src="//wxs.ign.fr/static/logos/AAMP/AAMP.gif"
								 alt="logo"></td>
						<td><a href="http://www.aires-marines.fr/" target="_blank">http://www.aires-marines.fr/</a></td>
					</tr>
				</table>

				<h3>Pour la couche Sites Natura 2000 au titre de la Directive Habitats :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>MNHN</td>
						<td>Muséum national d'Histoire naturelle</td>
						<td><img src="//wxs.ign.fr/static/logos/MNHN/MNHN.gif" alt="logo"></td>
						<td><a href="http://inpn.mnhn.fr" target="_blank">http://inpn.mnhn.fr</a></td>
					</tr>
					<tr>
						<td>MTES</td>
						<td>Ministère de la Transition &eacute;cologique et solidaire</td>
						<td><img src="//wxs.ign.fr/static/logos/MEDDE/MEDDE.gif" alt="logo"></td>
						<td><a href="http://www.ecologique-solidaire.gouv.fr/" target="_blank">http://www.ecologique-solidaire.gouv.fr/</a></td>
					</tr>
				</table>

				<h3>Pour la couche Réserves naturelles nationales :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>IGN</td>
						<td>Institut national de l'information géographique et forestière</td>
						<td><img src="//wxs.ign.fr/static/logos/IGN/IGN.gif" alt="logo"></td>
						<td><a href="http://www.ign.fr" target="_blank">http://www.ign.fr</a></td>
					</tr>
				</table>

				<h3>Pour la couche Parcs naturels régionaux :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>MNHN</td>
						<td>Muséum national d'Histoire naturelle</td>
						<td><img src="//wxs.ign.fr/static/logos/MNHN/MNHN.gif" alt="logo"></td>
						<td><a href="http://inpn.mnhn.fr" target="_blank">http://inpn.mnhn.fr</a></td>
					</tr>
					<tr>
						<td>PNR</td>
						<td>Fédération des Parcs naturels régionaux</td>
						<td><img src="//wxs.ign.fr/static/logos/PNR/PNR.gif"
								 alt="logo"></td>
						<td><a href="http://www.parcs-naturels-regionaux.fr/" target="_blank">http://www.parcs-naturels-regionaux.fr/</a></td>
					</tr>
				</table>

				<h3>Pour la couche Zones fonctionnelles de nature remarquable (ZNIEFF2) :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>IGN</td>
						<td>Institut national de l'information géographique et forestière</td>
						<td><img src="//wxs.ign.fr/static/logos/IGN/IGN.gif" alt="logo"></td>
						<td><a href="http://www.ign.fr" target="_blank">http://www.ign.fr</a></td>
					</tr>
				</table>

				<h3>Pour la couche Zones écologiques de nature remarquable (ZNIEFF1) :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>IGN</td>
						<td>Institut national de l'information géographique et forestière</td>
						<td><img src="//wxs.ign.fr/static/logos/IGN/IGN.gif" alt="logo"></td>
						<td><a href="http://www.ign.fr" target="_blank">http://www.ign.fr</a></td>
					</tr>
				</table>

				<h3>Pour la couche Zones humides d'importance internationale :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>MNHN</td>
						<td>Muséum national d'Histoire naturelle</td>
						<td><img src="//wxs.ign.fr/static/logos/MNHN/MNHN.gif" alt="logo"></td>
						<td><a href="http://inpn.mnhn.fr" target="_blank">http://inpn.mnhn.fr</a></td>
					</tr>
					<tr>
						<td>RAMSAR</td>
						<td>Convention relative aux zones humides d'importance internationale, particulièrement comme habitats des oiseaux d'eau</td>
						<td><img src="//wxs.ign.fr/static/logos/RAMSAR/RAMSAR.gif" alt="logo"></td>
						<td><a href="http://www.ramsar.org/" target="_blank">http://www.ramsar.org/</a></td>
					</tr>
				</table>

				<h3>Pour la couche Sites NATURA 2000 au titre de la Directive Oiseaux :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>MNHN</td>
						<td>Muséum national d'Histoire naturelle</td>
						<td><img src="//wxs.ign.fr/static/logos/MNHN/MNHN.gif" alt="logo"></td>
						<td><a href="http://inpn.mnhn.fr" target="_blank">http://inpn.mnhn.fr</a></td>
					</tr>
					<tr>
						<td>MTES</td>
						<td>Ministère de la Transition &eacute;cologique et solidaire</td>
						<td><img src="//wxs.ign.fr/static/logos/MEDDE/MEDDE.gif" alt="logo"></td>
						<td><a href="http://www.ecologique-solidaire.gouv.fr/" target="_blank">http://www.ecologique-solidaire.gouv.fr/</a></td>
					</tr>
				</table>

				<h3>Pour la couche Parcs nationaux :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>MNHN</td>
						<td>Muséum national d'Histoire naturelle</td>
						<td><img src="//wxs.ign.fr/static/logos/MNHN/MNHN.gif" alt="logo"></td>
						<td><a href="http://inpn.mnhn.fr" target="_blank">http://inpn.mnhn.fr</a></td>
					</tr>
					<tr>
						<td>PN</td>
						<td>Parcs Nationaux de France</td>
						<td><img src="//wxs.ign.fr/static/logos/PN/PN.gif" alt="logo"></td>
						<td><a href="http://www.parcsnationaux.fr" target="_blank">http://www.parcsnationaux.fr</a></td>
					</tr>
				</table>

				<h3>Pour la couche Terrains des conservatoires d'espaces naturels :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>MNHN</td>
						<td>Muséum national d'Histoire naturelle</td>
						<td><img src="https://wxs.ign.fr/static/logos/MNHN/MNHN.gif" alt="logo"></td>
						<td>http://inpn.mnhn.fr</td>
					</tr>
					<tr>
						<td>MTES</td>
						<td>Ministère de la Transition &eacute;cologique et solidaire</td>
						<td><img src="https://wxs.ign.fr/static/logos/MEDDE/MEDDE.gif" alt="logo"></td>
						<td>http://www.ecologique-solidaire.gouv.fr/</td>
					</tr>
				</table>

				<h3>Pour la couche Conservatoire du littoral : Parcelles protégées :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>MNHN</td>
						<td>Muséum national d'Histoire naturelle</td>
						<td><img src="https://wxs.ign.fr/static/logos/MNHN/MNHN.gif" alt="logo"></td>
						<td>http://inpn.mnhn.fr</td>
					</tr>
					<tr>
						<td>CELRL</td>
						<td>Conservatoire du littoral</td>
						<td><img src="https://wxs.ign.fr/static/logos/CELRL/CELRL.gif"
							alt="logo"></td>
						<td>http://www.conservatoire-du-littoral.fr/</td>
					</tr>
				</table>

				<h3>Pour la couche Conservatoire du littoral : Périmètres d'intervention :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>MNHN</td>
						<td>Muséum national d'Histoire naturelle</td>
						<td><img src="https://wxs.ign.fr/static/logos/MNHN/MNHN.gif" alt="logo"></td>
						<td>http://inpn.mnhn.fr</td>
					</tr>
					<tr>
						<td>CELRL</td>
						<td>Conservatoire du littoral</td>
						<td><img src="https://wxs.ign.fr/static/logos/CELRL/CELRL.gif"
							alt="logo"></td>
						<td>http://www.conservatoire-du-littoral.fr/</td>
					</tr>
				</table>

				<h3>Pour la couche Sites inscrits au patrimoine mondial de l’UNESCO (biens naturels ou mixtes) :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>MNHN</td>
						<td>Muséum national d'Histoire naturelle</td>
						<td><img src="https://wxs.ign.fr/static/logos/MNHN/MNHN.gif" alt="logo"></td>
						<td>http://inpn.mnhn.fr</td>
					</tr>
				</table>

				<h3>Pour la couche Réserves Intégrales de Parcs Nationaux :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>IGN</td>
						<td>Institut national de l'information géographique et forestière</td>
						<td><img src="https://wxs.ign.fr/static/logos/IGN/IGN.gif" alt="logo" /></td>
						<td>http://www.ign.fr</td>
					</tr>
				</table>

				<h3>Pour la couche Réserves naturelles régionales :</h3>

				<table class="table table-bordered">
					<tr>
						<th class="copyrightTh">Sigle du contributeur</th>
						<th class="copyrightThContributeur">Contributeur</th>
						<th class="copyrightTh">LOGO</th>
						<th class="copyrightTh">URL du site</th>
					</tr>
					<tr>
						<td>MNHN</td>
						<td>Muséum national d'Histoire naturelle</td>
						<td><img src="https://wxs.ign.fr/static/logos/MNHN/MNHN.gif" alt="logo"></td>
						<td>http://inpn.mnhn.fr</td>
					</tr>
				</table>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
			</div>
		</div>
	</div>
</div>
