{% extends "::base.html.twig" %}
{% form_theme form 'form.html.twig' %}

{% block body %}

    <h1>
      {% trans %}Password_forgotten{% endtrans %}
    </h1>

    <p>Merci d'indiquer l'adresse email associée à votre compte utilisateur,
        et nous vous enverrons un courriel pour réinitialiser votre mot de passe.</p>
    <p>&nbsp;</p>

    {{ form(form) }}

{% endblock %}
