.o-predefined-request-grid-panel-description-text {
    margin: 5px 0 10px 30px;
}
.o-predefined-request-grid-panel-tools-edit-bin {
    background-image: url(images/OgamDesktop/tools/edit/delete.png) !important;
}
.o-predefined-request-grid-panel-tools-edit-edit {
    background-image: url(images/OgamDesktop/tools/edit/page_white_edit.png) !important;
}
.o-ux-form-field-add-trigger {
    background-image: url(images/OgamDesktop/form/add-trigger.gif) !important;
}
.o-predefined-request-grid-panel-private-request {
    background-image: url(images/OgamDesktop/tools/grid/key.png) !important;
    background-position: center right;
    padding-right: 20px;
    background-repeat: no-repeat;
}