<phpunit bootstrap="./app/Bootstrap.php" colors="true">

	<testsuite name="GINCOTestSuite">
		<directory>./app/</directory>
	</testsuite>

	<filter>
		<whitelist>
			<directory suffix=".php">../ogamServer/app/</directory>
			<exclude>
				<file>../ogamServer/app/Bootstrap.php</file>
				<directory suffix=".phtml">../ogamServer/app/</directory>
			</exclude>
		</whitelist>
	</filter>

</phpunit>