/**
 * Script for updating integration progress bar
 * Get back status via Ajax.
 * Status are:
 * - OK, CHECK
 * - WARNING
 * - RUNNING: in progess
 * - ERROR and others
 */

/**
 * Update status divs for given submission.
 * If status is not given, launch a ajax request to get it.
 *
 * @param $submissionId
 * @param $status
 */
function updateStatusAndContent($submissionId, $status = null) {
    if ( $status ) {
        updateStatusDiv($submissionId, $status);
        updateContentDiv($submissionId, $status);
    }
    else {
        $.getJSON("{{ path('integration_status') }}", {
            action: 'status',
            submissionId: $submissionId
        }, function (data) {
            updateStatusDiv($submissionId, data.status);
            var $progress = 0;
            if (data.status == 'RUNNING') {
                if(data.totalCount > 0) {
                    $progress = Math.floor( data.currentCount * 100.0 / data.totalCount );
                } else {
                    $progress = 0;
                }
                $task = data.taskName;
                updateContentDiv($submissionId, data.status, $progress, $task);
            }
            else {
                location.reload();
            }

        });
    }
}

/**
 * Search all RUNNING jobs (by the content of the hidden status div)
 * And launch a ajax request to retrieve their status and progress
 * Then update status and content divs.
 */
function updateAllRunningTasks() {
    var $submissionIds = [];
    $('.integration-status').each(function() {
        if ( $(this).html() == 'Status:RUNNING;Step:INSERT' ) {
            $submissionIds.push($(this).attr('data-target'));
        }
    });

    if ($submissionIds.length) {
        $.each($submissionIds, function(index, value) {
           updateStatusAndContent(value);
        });
    }
    else {
        // If no more Running tasks, we clear interval
        clearInterval(timerId);
    }
}

/**
 * Update status div alone.
 * The status div is hidden with css, and is used by the scripts
 * to know if there is RUNNING jobs (needing to ask periodically for their status)
 *
 * @param $submissionId
 * @param $status
 */
function updateStatusDiv( $submissionId, $status) {
    var $statusDiv = $("div.integration-status[data-target='" + $submissionId + "']");
    // Update status
    newValue = "Status:" + $status + ";Step:INSERT";
    $statusDiv.html(newValue);
}

/**
 * Update content div alone.
 * The content div is visible and shows:
 *  - the status of the import if not RUNNING
 *  - the progress bar when the import job is running
 *  - action links: cancel -- NO but possible
 *
 * @param $submissionId
 * @param $status
 * @param $progress
 */
function updateContentDiv($submissionId, $status, $progress = 0, $task = 'Inserting') {
    var $contentDiv = $("div.integration-content[data-target='" + $submissionId + "']");
    $contentDiv.html('');

	var $cancelDiv = $("div.integration-cancel-status[data-target='" + $submissionId + "']");

    // Update progress bar if RUNNING
    var $progressBar = $contentDiv.parent().find('div.progress-bar');
	// If the submission is being cancelled, hide the progressbar (in case of cancelling while uploading data)
    if (($cancelDiv.html().indexOf("Status:RUNNING;Step:CANCEL") >= 0)) {
        $progressBar.parent().parent().hide();
    } else if ($status == 'RUNNING') {
        if ($progressBar.parent().parent().hasClass('hidden')) {
            $progressBar.parent().parent().removeClass('hidden');
        }
        var $taskName = '', $class = 'color-2';
        if ($task.slice(0, $task.indexOf(" ")) == 'Checking') {
            $taskName = 'checks_';
            $class = 'color-1'
        } else if ($task.slice(0, $task.indexOf(" ")) == 'Inserting') {
            $taskName = 'import_';
        } else if ($task.slice(0, $task.indexOf(" ")) == 'Computing') {
            $taskName = 'calcul_';
            $class = 'color-3'
        }
        $progressBar.css('width', $progress+'%').addClass($class).attr('aria-valuenow', $progress).html( $taskName+$progress+'%');
    }
    // If not RUNNING remove progress bar and show Status
    else {
        $progressBar.parent().parent().addClass('hidden');

        switch($status) {
            case 'OK':
            case 'CHECK':
                $contentDiv.html('<span class="glyphicon glyphicon-ok color-success" aria-hidden="true"></span>&nbsp;'+$status);
                break;
            case 'WARNING':
                $contentDiv.html('<span class="glyphicon glyphicon-alert color-warning" aria-hidden="true"></span>&nbsp;'+$status);
                break;
            case 'ERROR':
            default:
                $contentDiv.html('<span class="glyphicon glyphicon-remove color-danger" aria-hidden="true"></span>&nbsp;'+$status);
        }
    }
}

var timerId;

$(function(){
    // Periodically update progress for running and pending jobs
    timerId = setInterval( updateAllRunningTasks , 1000);
});
