* {
	margin: 0;
	padding: 0;
	font-family: Cabin, Helvetica, Arial, sans-serif;
}

html {
	height: 100%;
}

h1,h2,h3 {
	margin: 0;
  	padding: 0;
	font-weight: normal;
}

h1 {
	font-size: 170%;	
}

h2 {
	font-size: 160%;
	line-height: 130%;
	color: #00605f;
}

h3 {
	font-size: 140%;
	display: block;
	line-height: 1.7em;
	margin-left: 20px;
	padding: 0;
	text-transform: uppercase; 
	color: #00605f;
}


h4 {
  font-size: 130%;
  color: #877a1e;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 110%;
}

a {
	color: #027AC6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #0062A0;
}

a:active, a.active {
  color: #5895be;
}


ul.errors {
	color: #FF0000;
}

img {
	border: 0 none;
}

ul,ol {
	margin-left: 2em;
}

fieldset {
	padding: .5em;
}

body {
	font: 12px/170% Verdana, sans-serif;
	background-color: #f4f1e0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 76.8%;
	line-height: 1.8em;
	margin: 0 0;
	height: 100%;
}

.wrapper {
	color: #f4f1e0;
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-top: 0;
	margin-bottom: -40px;
	/* the bottom margin is the negative value of the footer's height */
}

.main-body {
	background-color: #FFFFFF;
	color: #606060;
	margin: 0 auto;
	text-align: left;
	margin-left: 40px;
	margin-right: 40px;
	height: 100%;
}

.main-body-bg {
	background-color: #FFFFFF;
	position: absolute;
	top: 0;
	left: 40px;
	right: 40px;
	z-index: -1;
	bottom: 30px;
}

.header {
	height: 145px; /* size of banner + top menu */
}

.header-beadcrumb {
	width: 520px;
}

.header-login {
	width: 500px;
	text-align: right;
	font-weight: bold;
}

.banner {
	color: #f4f1e0;
	/*margin:10px 0;*/
	width: 100%;
	height: 107px;
	text-align: center;
	overflow: hidden;
}

.top {
	background-color: #F4F1E0;
	padding: 2px 5px;
}

.content {
	background-color: #FFFFFF;
}

.content h1,.content h2 {
	text-align: center;
}

.footer,.push {
	height: 30px; /* .push must be the same height as .footer */
}

.footer {
	position: relative;
	text-align: center;
	vertical-align: middle;
	background-color: #f4f1e0;
	color: #606060;
}

.footer-ct {
	position: relative;
	top:10px;
}



.left-column {
	width: 480px;
}

#contextual {
	padding-left: 30px;
}

#contextual p {
	margin: 0;
}

#contextual li {
	margin-left: 15px;
}

#divJRCRequestForm {
	position: absolute;
	left: 5px;
	width: 250px;
}

#queryForm {
	position: absolute;
	top: 180px;
	left: 5px;
	width: 250px;
}

#divQueryResult {
	position: absolute;
	top: 180px;
	left: 260px;
	right: 250px;
}
/** Menu **/
div.moduletable_menu {
	margin: 30px 0;
}

div.moduletable_menu li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

div.moduletable_menu a:hover {
	background-color: #EEEEEE;
	color: #666666;
	text-decoration: none;
}

div.moduletable_menu a:link,div.moduletable_menu a:active,div.moduletable_menu a:visited
	{
	background-image: url(../img/greybullet2.png);
	background-position: 5px 50%;
	background-repeat: no-repeat;
	border-bottom: 1px dashed #02605f;
	color: #606060;
	display: block;
	padding: 10px 10px 3px 25px;
}

.field_label {
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
}

.criteria_label {
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}

.result_label {
	color: #003300;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}

.create-user-form,.data-harmonization-form,.create-data-submission-form,.create-plot-location-submission-form,.create-strata-submission-form,.show-upload-strata-form,.create-aggregation-form,.create-interpolation-form,.show-upload-data-form,.show-upload-plot-location-form,.show-change-password-form,.show-create-role-form,.show-edit-role-form,.show-edit-user-form
	{
	width: 250px;
	text-align: left;
	background-color: #EDEDED;
	padding: 0px 40px;
	border-bottom: 1px dotted #CCCCCC;
	border-top: 1px dotted #CCCCCC;
	margin: 50px auto;
}

.show-change-password-form {
	width: 150px;
}

.show-upload-data-form,.show-upload-plot-location-form {
	width: 1000px;
}

.show-edit-role-form {
	width: 1000px;
}

.show-create-role-form label input,.show-edit-role-form label input {
	margin-right: 10px;
}

tr.sectiontableentry0 td {
	background-color: #EDEDED;
	border-bottom: 1px dotted #CCCCCC;
	border-top: 1px dotted #CCCCCC;
	padding: 3px;
	text-align: left;
}

tr.sectiontableentry1 td {
	padding: 3px;
	text-align: left;
}

.csv-export {
	background-image: url(../img/table_save.png) !important;
}

.sectiontableentry0 img,.sectiontableentry1 img {
	height: 16px;
	border: 0 none;
	margin: 0 0 0 10px;
}

.status-img {
	height: 16px;
	border: 0 none;
	margin: 0 10px 0 0;
}

.error-msg {
	text-align: center;
	margin: 100px 0 0;
}

.bottom-menu {
	text-align: center;
	margin: 40px 0 0;
}

.sectiontable {
	margin: 30px auto;
}

.subTableLink {
	text-align: center;
}

.tempStatusDiv {
	display: inline;
}

img.percentImage {
	background: white url(../img/percentImage_back.png) top left no-repeat;
	padding: 0;
	margin: 5px 0 0 0;
	background-position: 1px 0;
}

.percentLabel {
	
}

.percentText {
	
}

.no-submission, .password-change-user-name{
    margin: 50px 0;
    text-align: center;
}
.view-cell a{
    background: url(../img/magnifier.png) top left no-repeat;
    padding: 1px 8px;
}
.pdf-cell a {
    background: url(../img/icon_pdf.gif) top left no-repeat;
    padding: 1px 8px;
}
.view-content-cell a {
    background: url(../img/page_white_magnify.png) top left no-repeat;
    padding: 1px 8px;
}
.view-meta-cell a {
    background: url(../img/page_white_database.png) top left no-repeat;
    padding: 1px 8px;
}
.edit-cell a{
    background: url(../img/page_white_edit.png) top left no-repeat;
    padding: 1px 8px;
}
.change-password-cell a{
    background: url(../img/key.png) top left no-repeat;
    padding: 1px 8px;
}
.delete-cell a{
    background: url(../img/delete.png) top left no-repeat;
    padding: 1px 8px;
}
.index-cell .index-cell-create{
    background: url(../img/folder_link.png) top left no-repeat;
    padding: 1px 8px;
}
.index-cell .index-cell-update{
    background: url(../img/folder_add.png) top left no-repeat;
    padding: 1px 8px;
}
.index-label-cell{
    width: 200px;
}
.optimize-cell a{
    background: url(../img/compress.png) top left no-repeat;
    padding: 1px 8px;
}
.files-list-cell a{
    background: url(../img/folder_explore.png) top left no-repeat;
    padding: 1px 8px;
}
.file_contents {
    padding: 0 40px 40px 40px;
}

/**************************************/
/* Mise en forme des formulaires Zend */
/**************************************/
.editform dd {
	position: relative;
	padding-left: 16em;
	top: -2em;
}

.message {
	color: #60BB60;
	text-align: center;
	font-size: 16px;
}


/**************************************/
/**      Zend Form CSS               **/
/**************************************/

.form-super-ct {
    background-color: #F7F7F7;
    border-bottom: 2px dotted #CCCCCC;
    border-top: 2px dotted #CCCCCC;
    margin: 50px auto;
    padding: 22px 40px;
}
.form-ct {
    margin:0 auto;
    width:350px;
}
.zend_form .element, .zend_form .button{
    position: relative;
}
.zend_form .multiCheckbox label{
    margin-left:30px;
}
.zend_form .multiCheckbox label.title{
    display:block;
    font-weight: bold;
    margin:10px 0;
}
.zend_form .multiCheckbox input{
    width:auto;
    margin-top:6px;
}
.zend_form input{
    width:200px;
    position: absolute;
    right: 0;
}
.zend_form select{
   width: 204px;
   position: absolute;
   right: 0;
}
.zend_form .file input{
    width: auto;
}
.zend_form .button{
    margin-top:20px;
    height: 25px;
}
.zend_form .button input{
    width:100px;
}
.zend_form .hint-title{
    font-weight: bold;
}
.zend_form .file .hint{
    background-color:#F0F0F0;
    margin: 10px 0;
}

/**************************************/
/**      Zend Form CSS               **/
/**           Special cases          **/
/**************************************/

/** Integration Part
/**************************************/

/** data-submission-form **/
.data-submission-form .form-ct {
    width:500px;
}
.data-submission-form .zend_form select{
   width: 400px;
}

/** data-upload-form **/
.data-upload-form .form-ct {
    width:450px;
}
.data-upload-form .zend_form .file .hint{
    width:1000px;
    margin-left:-275px;
}
.data-upload-form .zend_form label{
    font-weight: bold;
}

/**************************************/
/** User Part
/**************************************/

/** change-current-user-password-form **/
.change-current-user-password-form .form-ct {
    width:370px;
}

/** login-form **/
.login-form .form-ct {
    width:300px;
}

/**************************************/
/** User Management Part
/**************************************/

/** user-form **/
.user-form .form-ct {
    width:370px;
}

/** change-user-password-form **/
.change-user-password-form .form-ct {
    width:370px;
}

/** role-form **/
.role-form .form-ct {
    width:370px;
}


/************************************************************/
/*      Checkconf Page                                      */
/************************************************************/
.checkconf-page{
    background-color: #F7F7F7;
    border-bottom: 2px dotted #CCCCCC;
    border-top: 2px dotted #CCCCCC;
    margin: 50px auto;
    padding: 22px 40px;
}
.checkconf-page h2{
    margin: 20px 0;
}
.checkconf-page h4{
    margin: 10px 0;
}
.checkconf-page .green{
    color: green;
}
.checkconf-page .red{
    color: red;
}

/************************************************************/
/* Tooltips en CSS                                          */
/* TODO : Replace with something more consistent with ExtJS */
/************************************************************/ 

a.tooltip {
}

a.tooltip em {
	display: none;
}

a.tooltip:hover {
	border: 0;
	position: relative;
	z-index: 500;
	text-decoration: none;
}

a.tooltip:hover em {
	font-style: normal;
	display: block;
	position: absolute;
	top: 20px;
	left: -10px;
	padding: 5px;
	color: #000;
	border: 1px solid #bbb;
	background: #ffc;
	width: 300px;
}

a.tooltip:hover em span {
	position: absolute;
	top: -7px;
	left: 15px;
	height: 7px;
	width: 11px;
	background: transparent url("../img/infobulletop00.gif");
	margin: 0;
	padding: 0;
	border: 0;
}

dt {
	font-weight: bold;
}

.columnLabelBin {
	padding: 0 5px;
}

.x-tree-node-icon-feuille {
	background-position : 0 0 !important; 
	background-image: url("../images/feuille.png") !important; 
}
.x-tree-node-icon-branche {
	background-position : 0 0 !important; 
	background-image: url("../images/branche.png") !important; 
}


/************************************************************/
/*                         Data Edition                     */
/************************************************************/
.actionLinks {
	padding: 5px;
}