.o-date-range-picker-footer-toolbar {
    border-width: 1px;
    border-style: solid;
    border-color: #cbc3c3;
    background-image: none;
    background-color: #e9e9e9;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #f0f0f0), color-stop(49%, #e7e7e7), color-stop(51%, #e1e1e1), color-stop(0%, #e3e3e3));
    background-image: -webkit-linear-gradient(top, #f0f0f0, #e7e7e7 49%, #e1e1e1 51%, #e3e3e3);
    background-image: -moz-linear-gradient(top, #f0f0f0, #e7e7e7 49%, #e1e1e1 51%, #e3e3e3);
    background-image: -o-linear-gradient(top, #f0f0f0, #e7e7e7 49%, #e1e1e1 51%, #e3e3e3);
    background-image: -ms-linear-gradient(top, #f0f0f0, #e7e7e7 49%, #e1e1e1 51%, #e3e3e3);
    background-image: linear-gradient(top, #f0f0f0, #e7e7e7 49%, #e1e1e1 51%, #e3e3e3);
}