.o-result-tools-doc-csvexport {
    background-image:url(images/OgamDesktop/tools/doc/csv_icon_sm.gif) !important;
}
.o-result-tools-doc-kmlexport {
    background-image:url(images/OgamDesktop/tools/doc/kml.gif) !important;
}
.o-result-tools-doc-geojsonexport {
    background-image:url(images/OgamDesktop/tools/doc/geojson.png) !important;
}