{% extends "::base.html.twig" %}
{% form_theme form with ['form.html.twig', _self] %}

{% block form_label_class -%}
    col-sm-2
{%- endblock form_label_class %}

{% block form_group_class -%}
    col-sm-10
{%- endblock form_group_class %}

{% block body %}

    <h1>{% trans %}Configuration.page.title{% endtrans %}</h1>

    {{ form(form) }}



{% endblock %}