# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver: pdo_pgsql
    database_host: __host__
    database_port: __port__
    database_name: __db__
    database_user: __user__
    database_password: __pw__
    database_admin_user: __admin_user__
    database_admin_password: __admin_pw__
    database_version: __db_version__

    locale: fr
    
    mailer_transport:  __mailer_transport__
    mailer_host:       __mailer_host__
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # FOS-jsrouting parameters
    base_url: __url_basepath__/app.php
    router.request_context.base_url: "%base_url%"

    # Instance name
    instance_name: __instance_name__
    basepath: __basepath__
