{% extends "IgnOGAMConfigurateurBundle::layout.html.twig" %}

{% block title %}
	{% trans %}Model Edition {% endtrans %}
{% endblock %}

{% block body %}
	{{ parent() }}
	<ol class="breadcrumb">
		<li><a href="{{ path('configurateur_homepage') }}">{% trans %}breadcrumb.home{% endtrans %}</a></li>
	</ol>
{% endblock %}


{% block specificjavascripts %} {% endblock %}
