.o-map-tools-map-layerfeatureinfo {
    background-image:url(images/OgamDesktop/tools/map/map_magnify.png) !important;
}
.o-map-tools-map-resultfeatureinfo {
    background-image:url(images/OgamDesktop/tools/map/information.png) !important;
}
.o-map-tools-map-zoomin {
    background-image:url(images/OgamDesktop/tools/map/magnifier_zoom_in.png) !important;
}
.o-map-tools-map-zoomtomaxextent {
    background-image:url(images/OgamDesktop/tools/map/world.png) !important;
}
.o-map-tools-map-drawpoint {
    background-image:url(images/OgamDesktop/tools/map/draw_point.png) !important;
}
.o-map-tools-map-drawline {
    background-image:url(images/OgamDesktop/tools/map/draw_line_off.png) !important;
}
.o-map-tools-map-drawpolygon {
    background-image:url(images/OgamDesktop/tools/map/draw_polygon_off.png) !important;
}
.o-map-tools-map-select {
    background-image:url(images/OgamDesktop/tools/map/cursor.png) !important;
}
.o-map-tools-map-modifyfeature {
    background-image:url(images/OgamDesktop/tools/map/move_vertex_off.png) !important;
}
.o-map-tools-map-deletefeature {
    background-image:url(images/OgamDesktop/tools/edit/bin.gif) !important;
}
.o-map-tools-map-validateedition {
    background-image:url(images/OgamDesktop/tools/map/tick.png) !important;
}
.o-map-tools-map-canceledition {
    background-image:url(images/OgamDesktop/tools/map/cross.png) !important;
}
.o-map-tools-map-zoomtoresultfeatures, .o-map-tools-map-zoomtodrawingfeatures {
    background-image:url(images/OgamDesktop/tools/map/arrow_in.png) !important;
}
.o-map-tools-map-snapping {
    background-image:url(images/OgamDesktop/tools/map/snapping.png) !important;
}
.o-map-tools-map-selectWFSFeature {
    background-image:url(images/OgamDesktop/tools/map/map_add.png) !important;
}
.o-map-tools-map-printMap {
    background-image:url(images/OgamDesktop/tools/doc/printer.png) !important;
}
.o-map-tools-map-mouse-position {
	bottom:8px;
	right:8px;
	position:absolute;
}
.o-map-tools-map-scale{
	bottom:3em;
	left:8px;
	position:absolute;
}

                ///////////////////
                // Print preview //
                ///////////////////

#o-map-print-main-div {
    position:absolute;
    width:100%;
    height:100%;
    background-color:white;
    z-index:5;
    padding:20px;
}
#o-map-print-map-overview {
    display: inline-block;
    border:solid 1px #d0d0d0;
    vertical-align: top;
}
#o-map-print-map-screenshot {
    position: relative;
    display:none;
}
#o-map-print-map-screenshot .ol-scale-line {
    width:100%;
}
.o-map-print-addons-div {
    display: inline-block;
}
.o-map-print-legends-div, .o-map-print-comment-div, .o-map-print-options-div {
    border-left:solid 1px #d0d0d0;
    padding-left:10px
}
.o-map-print-legend-div > img {
    display:block;
}
.o-map-print-option-div {
    margin-top: 10px;
}
.o-map-print-option-div > label {
    position: relative;
    bottom: 2px;
    left: 3px;
}
.o-map-print-legends-title, .o-map-print-comment-title, .o-map-print-options-title {
    margin-left: -10px;
    font-size: large;
    border-bottom: solid 1px #d0d0d0;
    padding-left:5px;
}
.o-map-print-comment-title, .o-map-print-options-title {
    margin:20px 0 10px -10px;
}
#o-map-print-comment-textarea {
    border-left: solid 1px #d0d0d0;
    width:100%;
}
#o-map-print-comment-div, {
    width:100%;
    display:none;
}
.o-map-print-tbar {
    margin-top: 20px;
    text-align: right;
}
#o-map-print-tbar-print-button {
    margin-right:10px;
}
@media (orientation:portrait) {
    #o-map-print-map-overview {
        width:100%;
        height:55%;
    }
    #o-map-print-map-img {
        width:100%;
        height:auto;
    }
    .o-map-print-addons-div {
        width:100%;
        padding-top:30px;
    }
    .o-map-print-legend-div {
        display:inline-block;
        margin: 10px 10px 0 0;
        padding-left: 5px;
        border-left: solid 1px #d0d0d0;
    }
    #o-map-print-comment-textarea {
        height:50px;
    }
}
@media (orientation:landscape) {
    #o-map-print-map-overview {
        width:75%;
        height:100%;
    }
    #o-map-print-map-img  {
        width:auto;
        height:100%;
    }
    .o-map-print-addons-div {
        width:20%;
        padding-left:30px;
    }
    .o-map-print-legend-div {
        margin-top: 10px;
    }
    #o-map-print-comment-textarea {
        height:100px;
    }
}
@media print and (orientation:portrait) {
    .page-map-adjust #o-map-print-map-overview { // Must take the image size (map screenshot)
        width:100% !important; // The "!important" is necessary (vs style attribute)
        height:auto !important; // The "!important" is necessary (vs style attribute)
    }
    .page-map-adjust #o-map-print-map-screenshot { // Must take the image size (map screenshot)
        width:100%;
        height:auto;
    }
    .page-map-adjust #o-map-print-map-img { // Must take the image size (map screenshot)
        width:100%;
        height:auto;
    }
}
@media print and (orientation:landscape) {
    .page-map-adjust #o-map-print-map-overview { // Must take the image size (map screenshot)
        width:auto !important; // The "!important" is necessary (vs style attribute)
        height:100% !important; // The "!important" is necessary (vs style attribute)
    }
    .page-map-adjust #o-map-print-map-screenshot { // Must take the image size (map screenshot)
        width:auto;
        height:100%;
    }
    .page-map-adjust #o-map-print-map-img { // Must take the image size (map screenshot)
        width:auto;
        height:100%;
    }
}
@media print {
    body > div, #o-map-print-map-overview .ol-viewport, #o-map-print-comment-textarea, .o-map-print-options-div {
        display:none !important; // The "!important" is necessary (For body>div.x-dd-drag-proxy and body>div.x-tip)
    }
    #o-map-print-main-div, #o-map-print-map-screenshot, #o-map-print-comment-div {
        display:block !important; // The "!important" is necessary (For #o-map-print-main-div)
    }
    #o-map-print-map-overview { // Must take the image size (map screenshot)
        width:auto !important; // The "!important" is necessary (vs style attribute)
        height:auto !important; // The "!important" is necessary (vs style attribute)
    }
    #o-map-print-map-img  { // Must take the image size (map screenshot)
        width:auto;
        height:auto;
    }
}

/* Transform checkboxes in radio buttons   */
.checkbox-to-radio {
    .x-tree-checkbox {
        background-image: url("images/form/radio.gif");
    }
}