# This file is used during build (ginco_build.php)
# to complete values in application.
#
# It must be completed/corrected to locale configuration and renamed localhost.properties
# Usage:
# php build_ginco.php -f localhost.properties -i instance <options>

# Instance name (ex localhost)
instance.name=localhost

# Database configuration
#=======================
db.host=localhost
db.port=5432
db.name=database_name
db.user=ogam
db.user.pw=#####
db.adminuser=admin
db.adminuser.pw=#####
db.version=9.6.0

# Deployment  / parameters unused on localhost
#==================================
# La machine sur laquelle déployer cette instance
deploy.host=localhost

# Chemins des répertoires contenant les projets ogam et configurateur pendant la phase de build
# absolu ou relatif au répertoire courant (répertoire où est installé le projet ginco)
ogam.path=/path/to/ogam
ginco.path=/path/to/ginco
configurator.path=/path/to/configurator

# Nom du lien symbolique (ou portion de chemin) entre /var/www/ et
# le répertoire du projet ginco.
# Exemple: si le chemin vers le projet ginco à partir de /var/www est:
# /var/www/path/to/ginco, il faut indiquer: path/to/ginco.
# Sur les instances de prod, c'est instance.name
apache.path.to.app=ginco

# Mailer configuration
#=====================
mailer.transport=smtp
mailer.host=mailex.ign.fr

# Application parameters
#=======================

# Url of the site: protocol
url.protocol=http
# Url of the site: complete domain (without protocol)
url.domain=ginco.localhost.fr
# Basepath of the site with slash (leave blank if no basepath)
# Current configuration results in the application is located at: http://ginco.localhost.fr/localhost
url.basepath=/localhost
# Proxy URL if needed. If not necessary, leave empty as it is but do not remove it
https.proxy=

# Site Name
site.name="Plateforme de test GINCO Localhost"

#url des services ogam avec le protocole et le domaine exemple http://services.ign.fr ou localhost
ogam.services.host=http://localhost:8080
# service accédé par le map-proxy
ogam.local.map.services.url=http://localhost

# Contact mail (initial config, can be changed on the platform)
contact.mail=YOURMAIL@ign.fr

# URL du service WXS du Géoportail
geoportail.wxs.url=https://wxs-i.ign.fr
# Geoportail key to access the map services see http://api.ign.fr/services#web to get one.
view.geoportail.key=7gr31kqe5xttprd2g7zbkqgo
print.geoportail.key=7gr31kqe5xttprd2g7zbkqgo

# Url of the service for getting metadata jdd
metadata.jdd.url=https://preprod-inpn.mnhn.fr/mtd/cadre/jdd/export/xml/GetRecordById?id=
# Email to send a notification to when generating DEE
dee.notification.mail=YOURMAIL@ign.fr

# Url of the documentation website
documentation.url=http://ginco.ign.fr/doc

# Bounding box pour l'initialisation de la visualisation en WebMercator
bb.xmin=-899390
bb.ymin=6742320
bb.xmax=1351350
bb.ymax=4883370
bb.zoom=3

# INSEE/ISO Code of region
region.code=LOCAL

# The value to display when a value should not be displayed in the results
hidden.value=Masqué

# Tracking id Piwik
# 0 to disable piwik tracking for this site
piwik.id=0

#Â Url of the documentation website
documentation.url=http://ginco.ign.fr/doc
