{% extends "::base.html.twig" %}

{% block title %}OGAMBundle:Harmonization:removeHarmonizationData{% endblock %}

{% block body %}
<h1>Welcome to the Harmonization:removeHarmonizationData page</h1>
{% endblock %}
