{% extends "::base.html.twig" %}
{% form_theme form 'form.html.twig' %}

{% block body %}

<h1>{% trans %}Password Change{% endtrans %}</h1>

<div class="password-change-user-name">
   {% trans %}Password Change for user:{% endtrans %}&nbsp;<b>{{ user.username }}</b>
</div>

{{ form(form) }}


{% endblock %}
