.o-result-tools-nav-showdetails {
    background-image:url(images/OgamDesktop/tools/nav/page_white_magnify.png) !important;
}
.o-result-tools-nav-showmap {
    background-image:url(images/OgamDesktop/tools/nav/map_magnify.png) !important;
}
.o-result-tools-edit-editdetails {
    background-image:url(images/OgamDesktop/tools/edit/page_white_edit.png) !important;
}
.disabled {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}