#edition_panel fieldset {
	padding: 10px;
}
#edition_panel .x-field {
	margin-left: auto;
	margin-right: auto;
}
#edition_panel a {
    display: block;
    text-align: center;
    margin: 5px 0;
}
#edition_panel a.x-btn {
    margin-top: 0;
    margin-bottom: 15px;
}