{% extends "IgnOGAMConfigurateurBundle::layout.html.twig" %}


{% block breadcrumb %}
	<ol class="breadcrumb">
		{% if route_exists('homepage') %}<li><a href="{{ path('homepage') }}">{%trans %}breadcrumb.home{% endtrans %}</a></li>{% endif %}
		<li><a href="{{ path('configurateur_homepage') }}">{%trans %}breadcrumb.configurator{% endtrans %}</a></li>
		<li class="active">{% trans %}breadcrumb.datamodel.import{% endtrans %}</li>
	</ol>
{% endblock breadcrumb %}

{% block body %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 id="panel-title" class="panel-title">
			{% trans %}Import a model{% endtrans %}
		</h3>
	</div>
	<div class="panel-body">
			{{ form(form) }}
			<a href="{{ path('configurateur_model_index') }}" class="btn btn-default" role="button">Importer</a>
	</div>
</div>
{% endblock %}